<!-- PAGE 7 OF WIREFRAME -->

<p>Managing Team:
<h1><%= @team.name %></h1>

<!-- Show the edit form -->
<div>
  <%= simple_form_for @team do |f| %>
    <%= f.input :name, label: 'Update team name:' %>
    <%= f.submit %>
  <% end %>
</div>

<!-- List all the members of this team -->
<div>
  <p>Team Members</p>
  <ul>
  <% @members.each do |member| %>
    <li><%= member.first_name %> <%= member.last_name %></li>
  <% end %>
  </ul>
</div>

<!-- START BUTTON AND MODAL FOR INVITING MEMBERS -->

<!-- Implement this when "new_membership_path" is ready -->
<%# link_to "Invite team members", new_membership_path, class: "btn btn-success" %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Invite Team Members
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Invite Members to this Team</h4>
      </div>
      <div class="invite-new">
        <!-- CURRENTLY USING @team AS A PLACEHOLDER -->
        <%= simple_form_for [@team,@invitation], method: :post do |f| %>
          Invite members by email address
          <p>Please separate each address by a comma</p>
          <%= f.input :array, label: 'List of email addresses' %>
          <%= f.submit "Send Invitations!" %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>