<div class="content col-md-12">
  <div class="content">
    <h1>My Profile</h1>
  </div>
</div>

<div class="container col-md-8">
  <div class="col-md-3" style="display:inline-block">
    <%= image_tag avatar_url(@profile) %>
    <br>
    Edit Gravatar
  </div>

  <div class="col-md-9" style="display:inline-block">
    <%= @profile.user.full_name %>
    <br>
    <%= @profile.handle %>
  </div>
</div>

<%= simple_form_for @profile do |f| %>

<div class="container col-md-8">
  <%= f.input :bio %>
</div>

<div class="container col-md-8">
Social Links
  <div>
    <%= f.input :facebook %>  
    <%= f.input :github %>
    <%= f.input :twitter%>
  </div>
</div>

<div class="container col-md-8">
  <div style="float:left"> 
    <%= f.submit %>
  </div>

  <div style="float:right">
    <%= f.submit "Change Password" %>
  </div>
</div>

<% end %>