<div class="content col-md-12">
  <div class="content">
    <h1>My Profile</h1>
  </div>
</div>

<div class="container col-md-8">
  <div class="col-md-3" style="display:inline-block">
    <%= image_tag avatar_url(@profile) %>
    <br>
    Edit Gravatar
  </div>

  <div class="col-md-9" style="display:inline-block">
    <%= @profile.user.full_name %>
    <br>
    <%= @profile.handle %>
  </div>
</div>

<%= simple_form_for @profile do |f| %>

<div class="container col-md-8">
  <%= f.input :bio %>
</div>

<div class="container col-md-8">
Social Links
  <div>
    <%= f.input :facebook %>  
    <%= f.input :github %>
    <%= f.input :twitter%>
  </div>
</div>

<div class="container col-md-8">
  <div style="float:left"> 
    <%= f.submit %>
  </div>
<<<<<<< HEAD
<% end %>
  <button type="button" style="float:right" data-toggle="modal" data-target="#passwordModal">
    Change Password
  </button>
=======

  <div style="float:right">
    <%= f.submit "Change Password" %>
  </div>
>>>>>>> 99587384c13e97bafab655f6a36417da5744f663
</div>

<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Password</h4>
      </div>
      <div class="invite-new">
        <!-- CURRENTLY USING @team AS A PLACEHOLDER -->
          <%= simple_form_for [@profile.user], method: :patch do |f| %>
          Enter new password below:
          <%= f.input :password %>
          <%= f.input :password_confirmation %>
          <%= f.submit "Update Password" %>
        <% end %>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>