<div>
  <h1>My Profile</h1>
</div>
<%= image_tag avatar_url(@profile) %>

<%= @profile.user.full_name %>
<br>
<%= @profile.bio %>
<br>
<%= @profile.handle %>
<br>
<%= @profile.facebook %>
<br>
<%= @profile.twitter %>
<br>
<%= @profile.github %>