<div class="content col-md-12">
  <div class="content">
    <h1><%= @profile.user.full_name %></h1>
  </div>
</div>

<div class="container col-md-12">
  <div class="container col-md-3">
    <%= image_tag avatar_url(@profile) %>
  </div>

  <div class="container col-md-9">
  <%= @profile.bio %>
  </div>
</div>
<div class="container col-md-12">
  <div class="container col-md-3">
    <%= @profile.handle %>
  </div>
  <div class="container col-md-9">
    <%= link_to "Facebook", @profile.facebook %>
    <%= link_to "Twitter", @profile.twitter %>
    <%= link_to "Github", @profile.github %>
  </div>
</div>

<div class="content col-md-12">
  <div class="content" style="margin-top: 20px;">
    <h3>Ideas You And <%= @profile.user.first_name %> Have In Common:</h1>
  </div>
</div>

<div class="content col-md-12">
  <ul class="list-group">
    <%# show ideas we have in common..i.e., ideas that I've created
    that I have shared with you (the profile owner) %>
    <%# iterate over the profile owners ideas, and match them
    with any shared ideas amongst the current_user who is viewing
    the profile %>
    <% @ideas.each do |idea| %>
        <%# grab the current users teams, and iterate over those to 
        find his shared ideas %>
        <% current_user.teams.each do |team| %>
          <%# find all of the shared ideas amongst each team %>
          <% team.shared_ideas.each do |shared_idea| %>
            <%# see if any ideas the current_user has shared match
            ideas on the profile users page %>
            <% if shared_idea.id ==  idea.id %>
              <li class="list-group-item">       
              <div class="pin" id= "<%= dom_id(idea) %>">
                <%= render partial: "/pins/pin", locals: {idea: idea} %>
              </div>
              
              <span class="idea-title"><%= link_to idea.title, idea %></span>

              <!-- Modal to Share An Idea with A Team (hidden)-->
              <%= render partial: "/shared/share_modal", locals: {idea: idea} %>

                <div class="ideas-list-buttons">
                  <% if can? :edit, idea %>
                    <div class = "list-button">
                      <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#idea-modal-<%= idea.id %>">
                        <span class="fa fa-users"></span>
                      </button>
                    </div>
                  <% end %>
                  
                  <% if can? :delete, idea %>
                    <div class="list-button">
                      <% if idea.user == current_user %>
                        <%= button_to idea_path(idea), method: :delete, data: {confirm: "Are you sure you want to delete this idea?"}, class: "btn btn-lg" do %>
                          <span><i class="fa fa-trash-o"></i></span>
                        <% end %>
                      <% end %>
                    </div>            
                  <% end %>
                </div>

            </li>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
  </ul>
</div>

