<div class="content col-md-12"> 
  <div class="content">
    <h1>My Ideas</h1>
  </div>

  <div class="content-element">
    <div class="content">
      search
    </div>
    <div class="content">
      <%= link_to " Manage", ideas_path, class: "btn btn-default fa fa-pencil" %>
    </div>
  </div>
</div>

<div class="content col-md-12">
    <ul class="list-group">
  <% @ideas.each do |idea| %>
      <li class="list-group-item">

        <% pin = idea.pins.find_by_user_id(current_user.id) %>
          <% if pin %>
            <%= link_to idea_pin_path(idea, pin), method: :delete, class: "btn btn-default btn-lg" do %>
              <span><i class="glyphicon glyphicon-pushpin" style="color:red"></i></span>
            <% end %>
          <% else %>
            <%= link_to idea_pins_path(idea), method: :post, class: "btn btn-default btn-lg" do %>
              <span><i class="glyphicon glyphicon-pushpin" style="color:green"></i></span>
            <% end %>
          <% end %>
        
        <span class="idea-title"><%= link_to idea.title, idea %></span>

        <!-- Modal to Share An Idea with A Team (hidden)-->
        <%= render partial: "/shared/share_modal", locals: {idea: idea} %>

        <div class="ideas-list-buttons">
          <div class = "list-button">
            <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#shareModal">
              <span class="fa fa-users"></span>
            </button>
          </div>
            
          <div class="list-button">
            <% if idea.user == current_user %>
              <%= button_to idea_path(idea), method: :delete, data: {confirm: "Are you sure you want to delete this idea?"}, class: "btn btn-lg" do %>
                <span><i class="fa fa-trash-o"></i></span>
              <% end %>
            <% end %>
          </div>            
        </div>

      </li>
  <% end %>
    </ul>
</div>



