<h1><%= @idea.title %></h1>
<br>
 <%= @idea.body %>
 <br>
 <%= link_to "Edit Your Idea", edit_idea_path(@idea) %>
 <br>
<%= button_to "Delete Idea", idea_path(@idea), method: :delete, data: {confirm: "Are you sure you want to delete this idea?"} %>
 <br>

  
<% pin = @idea.pins.find_by_user_id(current_user.id) %>
  <% if pin %>
    <%= link_to "Unpin", idea_pin_path(@idea, pin), method: :delete %>
  <% else %>
    <%= link_to "Pin Idea", idea_pins_path(@idea), method: :post %>
<% end %>

 <% @idea.comments.each do |comment| %>
 <%= comment.body %>
 <%# comment.user.full_name %>
 <%# comment.gravitor %>
 <%= comment.created_at %>
<% end %>

<%= render partial: "/comments/comment" %>
