<div class="content col-md-12 col-sm-12"> 
  <div class="content">
    <h1>My Shared Ideas</h1>
  </div>
</div>

<div class="content col-md-12">
  <!-- Field for filtering ideas: -->
  <%= render partial: "/layouts/filter" %>

  <ul class="list-group" id="ideas">
    <% @teams.each do |team| %>
      <% team.shared_ideas.each do |idea| %>
        <% if idea.user != current_user %>  
          <li class="list-group-item">
            <div class="pin" id= "<%= dom_id(idea) %>">
            <%= render partial: "/pins/pin", locals: {idea: idea} %>
            </div>
            <span class="idea-title"><%= link_to idea.title, idea_path(idea) %></span>

            <% idea_teams = idea.teams %>
            <% current_user_teams = current_user.teams %>
            <% my_var = (idea_teams & current_user.teams) %>

            <% share_team = !my_var.empty? ? my_var.last.name : nil %>
            
            <% if cannot? :edit, idea %> 
              <div class="list-button avatar" data-toggle="tooltip" data-placement="left" title="Created by: <%= idea.user.full_name %> Shared through: <%= share_team %>">
                <%= link_to image_tag(avatar_url(idea.user.profile)), profile_path(idea.user.profile) %>
              </div>
              </li>
            <% end %>
        <% end %>
      <% end %>

  <% end %>
  </ul>
</div>    
