<!DOCTYPE html>
<html>
<head>
  <title>Ideaz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="header" class="col-md-12">
      
      <div id="header-logo" class="col-md-3">
          <h1>Ideaz</h1>
      </div>

      <div id="header-buttons" class="col-md-3">
        <span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-cog"></span>
        <span class="glyphicon glyphicon-log-out"></span>
      </div>
    </div>

    <div id="sidebar" class="col-md-2">
      <div>
        <ul>
          <li><%= link_to "Pinned", users_path, 
            class: "btn btn-default" %></li>
          <li><%= link_to "Created by me", users_path, 
            class: "btn btn-default" %></li>
          <li><%= link_to "Shared with me", users_path, 
            class: "btn btn-default" %></li>
        </ul>
      </div>

      <div class="sidebar-teams">
        Teams
        <ul>
          <li><%= link_to "Team1", users_path, class: "btn btn-default" %></li>
          <li><%= link_to "Team2", users_path, class: "btn btn-default" %></li>
        </ul>
      </div>

      <div>
      <%= link_to "+ New Team", users_path %>
      </div>
    </div>

    <div class="content" class="col-md-10">
      <%= yield %>
    </div>

  </div>
</body>
</html>
