<!DOCTYPE html>
<html>
<head>
 <title>Ideaz</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
 <%= csrf_meta_tags %>
</head>
<body>
  <div class="main-container">
    <div class="header" class="col-md-12">

      <div class="header-logo" class="col-md-3">
          <h1><%= link_to "Ideaz", root_path %></h1>
      </div>

      <div class="header-buttons" class="btn-group col-md-3">
          <%= link_to new_idea_path, class: "header-btn-default btn-lg" do %>
            <i class="glyphicon glyphicon-plus"></i>
          <% end %>
          <%= link_to edit_profile_path(current_user.profile), class: "header-btn-default btn-lg" do %>
            <i class="glyphicon glyphicon-cog"></i>
          <% end %>
          <%= link_to sessions_path, method: :delete, class: "header-btn-default btn-lg" do %>
            <i class="glyphicon glyphicon-log-out"></i>
          <% end %>
      </div>
    </div>

    <div id="sidebar" class="col-md-2">
     <div>
       <ul>
         <li><%= link_to "Pinned", pins_path,
           class: "btn btn-default" %></li>
         <li><%= link_to "Created by me", ideas_path,
           class: "btn btn-default" %></li>
         <li><%= link_to "Shared with me", users_path,
           class: "btn btn-default" %></li>
       </ul>
     </div>

     <div class="sidebar-teams">
       Teams
       <ul>
         <li><%= link_to "Team1", users_path, class: "btn btn-default" %></li>
         <li><%= link_to "Team2", users_path, class: "btn btn-default" %></li>
       </ul>
     </div>

      <div>
        <%= link_to users_path, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-plus">  New Team</i>
        <% end %>
      </div>
    </div>


    <div class="content col-md-10">
      <%# flash messages ------------------------------------------ %>
      <% if flash[:notice] %>
        <div class="alert alert-success"><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
      <% end %>

      <%# -- Main Content ------------------------------------------ %>
      <%= yield %>
    </div>

 </div>
</body>
</html>